/* RESET */

* {
    margin: 0;
    padding: 0;
}

/* FUENTES A USAR */

@font-face {
    font-family: "Caviar Dreams";
    src: url(../fonts/CaviarDreams.ttf);
}

@font-face {
    font-family: "CaviarBold";
    src: url(../fonts/CaviarDreams_Bold.ttf);
}

/* COLOR DE FONDO EN LA PAGINA */

body {
    background-color: #EAEAEA;
}

/* ESTILOS DEL SALUDO INICIAL */

.saludo {
    text-align: center;
    margin-top: 80px;
    font-size: 30px;
    font-family: "Caviar Dreams";

}

#buscador {
    margin: auto 25%;
    display: none;
}

/* ESTILO DEL BUSCADOR DE POKEMON */

#nombrePokemon {
    margin-top: 90px;
    padding: 10px;
    height: 100px;
    width: 800px;
    border: 4px solid #252A34;
    border-radius: 20px;
    font-size: 60px;
    text-align: center;
    font-family: "Caviar Dreams";
}

/* ESTILO DEL BOTON DEL BUSCADOR */

#buscar {
    margin: 70px 120px;
    height: 180px;
    width: 550px;
    font-size: 65px;
    font-family: "Caviar Dreams";
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .5s;
    background-color: #FF2E63;
    color: #fff;
    box-shadow: 0 6px 0 #08D9D6;
}

/* PEQUEÑA ANIMACION AL CLICK */

#buscar:active {
    box-shadow: none;
    transform: translateY(6px);
}

h2 {
    display: flex;
    justify-content: center;
    margin-left: 380px;
    font-family: "Caviar Dreams";
    font-size: 30px;
}

/* ESTILO DEL SALUDO AL USUARIO UNA VEZ INICIADO */

#login {
    margin: 50px 175px;
    width: 800px;
    height: 100px;
    text-align: center;
}

.cerrar {
    font-size: 20px;
    border: 3px solid #FF2E63;
    outline: none;
    border-radius: 20px;
    padding: 8px;
    box-shadow: 0 6px 0 #252A34;
    background-color: #FF2E63;
    color: #fff;
    font-family: "CaviarBold";
}

/* ESTILO DEL BOTON DE CIERRE DE SESION */

.logout {
    outline: none;
    font-size: large;
    font-family: "CaviarBold";
    border: none;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    background-color: #EAEAEA;
    color: #252A34;
}

/* ESTILO DEL LOGIN */

label {
    font-family: "Caviar Dreams";
    font-size: 30px;
}

input {
    margin: 15px;
    height: 80px;
    width: 800px;
    font-size: 45px;
    font-family: "Caviar Dreams";
    border-radius: 20px;
    border: 4px solid #FF2E63;
}

/* ESTILO DEL BOTON PARA LOGEAR */

.inicio {
    height: 100px;
    width: 400px;
    font-size: 38px;
    outline: none;
    border: none;
    background-color: #08D9D6;
    border-radius: 25px;
    color: #252A34;
    box-shadow: 0 6px 0 #FF2E63;
    transition: .5s;
}

.inicio:active {
    transform: translateY(6px);
    box-shadow: none;
}

/* ESTILO DEL BOTON AL AÑADIR UN POKEMON AL EQUIPO */

#agregar {
    border: none;
    border-radius: 20px;
    background-color: #FF2E63;
    padding: 10px;
    margin: 10px;
    color: #EAEAEA;
    font-family: "CaviarBold";
    cursor: pointer;
}

/* FUENTE PARA LA LISTA DEL EQUIPO */

#equipo {
    font-family: "CaviarBold";
    display: none;
}

li {
    list-style: none;
}

